<%- include ('./partials/header.ejs')%>
    <!-- include all the code written in header.ejs as it is  -->
    <%- include ('./partials/navbar.ejs')%>
        <!-- include all the code written in navbar.ejs as it is  -->

        <div class="container">
            <div class="row mt-5">

                <h1>Home Page</h1>
                <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint praesentium optio dignissimos amet
                    aliquid placeat ex voluptatem delectus eligendi
                    at. Eos suscipit accusamus, maiores id nesciunt neque molestiae voluptates laboriosam.</p>


            </div>
        </div>

        <%- include ('./partials/footer.ejs')%>
            <!-- include all the code written in footer.ejs as it is  -->