<%- include ('./partials/header.ejs')%>
    <!-- include all the code written in header.ejs as it is  -->
    <%- include ('./partials/navbar.ejs')%>
        <!-- include all the code written in navbar.ejs as it is  -->

        <div class="container">
            <div class="row mt-5">

                <h1>Registration Page</h1>
                <hr>
                <h1>Registration Form</h1>


            </div>
        </div>



        <%- include ('./partials/footer.ejs')%>
            <!-- include all the code written in footer.ejs as it is  -->