<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    
    <!-- remember while linking the css files , we have already used expres.static() in app.js , where path has 
    been defined till public , what we just need to do is write path from public   -->

    <link rel="stylesheet" href="static/css/style.css">
    <!-- // we have made use virtual path as static , that means it wont coincide with file system   -->
    <title>Home</title>
</head>

<body>
    <h1>HOME PAGE </h1>
    <img src="static/images/pic1.jpg" alt="not available " srcset="">

    <!-- <script src="js/script.js"></script> -->
    <!--  import a javascript  -->

</body>

</html>