<%- include('./partials/header.ejs')%>

    <%- include('./partials/navigation.ejs')%>
        <!-- We have included the code from navigation.js ; exact code is brought here  -->
        <h1>About page </h1>

<%- include('./partials/footer.ejs')%>