<a href="/">Home</a>
<a href="/about">About</a>
<hr>



<!-- This is code which is common in both of the templates , here we would be using the concept of the include we
we would include this code in both about and home and we need not to write it again there  -->