<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <!-- link the style.css along with static concept  -->
    <title>Home</title>
</head>

<body>
    <a href="/">Home </a>
    <!-- creating link which pressingwould take to home page  -->
    <a href="/about">About</a>
    <!--  creating a link which on pressing would take us to about page -->

    <h1>HOME PAGE </h1>
    <h2>Finally Done </h2>
    <h2>
        <%= name %>
            <!-- the name passed as local variable in homeController.js could be accessed here   -->
    </h2>
</body>

</html>